<% @venues.each do |venue| %>
<div class="large-4 small-6 columns">
  <div class="image-wrapper overlay-fade-in">
    <img src="http://www.skydiveseb.com/data6/images/9.08beachjumpfx5.jpg">

    <div class="panel">
      <h6 class="subheader"><%= venue.description %></h6>
      <div class="image-overlay-content">
        <h4><%= link_to venue.venue_name, venue_path(venue) %></h4>
      </div>
    </div>
  </div>
</div>
<% end %>
