<div class="large-4 medium-6 small-12 columns">
  <div class="image-wrapper overlay-fade-in animated fadeInLeft">
    <img src="http://www.skydiveseb.com/data6/images/9.08beachjumpfx5.jpg">

    <div class="panel">
      <p class="subheader"><%= venue.description %></p>
      <div class="image-overlay-content">
        <h4><%= link_to venue.venue_name, venue_path(venue) %></h4>
      </div>
    </div>
  </div>
</div>
