<div class="full-height bg-img">
<div class="row">
  <div class="small-12 medium-10 medium-centered large-8 large-centered columns">

    <div class="floating-container">
      <h1>Venues</h1>
    </div>
    <div class="floating-container">
      <% if @venues.class == Venue::ActiveRecord_Relation %>
        <% @venues.each do |venue| %>
      </h4><%= link_to venue.venue_name, venue_path(venue) %></h4>
        <% end %>
        <% else %>
        <% @venues.each do |venue| %>
      </h4><%= link_to venue.content, venue_path(venue) %></h4>
        <% end %>
      <% end %>
    </div>
    <div class="text-center">
      <a href="<%= new_venue_path %>" class="button">Add a New Venue!</a>
    </div>
    <div class="text-center">
      <a href="<%= venues_path %>" class="button">All Venues</a>
    </div>
  </div>
</div>
</div>
