<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jumper</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>

    <% if flash.any? %>
      <div class="flash">
        <div class="container">
          <%= flash[:notice] %>
        </div>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
