<footer>
  <div class="row text-center">
  <h4>Follow us:</h4>
    <ul>
      <li class="twitter"><a href="https://www.twitter.com"><img src="https://lh3.ggpht.com/lSLM0xhCA1RZOwaQcjhlwmsvaIQYaP3c5qbDKCgLALhydrgExnaSKZdGa8S3YtRuVA=w300"></a></li>
    </ul>
  </div>
</footer>
