<footer>
  <div class="footer text-center">
    <h4>Follow us:</h4>
    <a href="https://www.twitter.com"><img class="twitter" src="https://lh3.ggpht.com/lSLM0xhCA1RZOwaQcjhlwmsvaIQYaP3c5qbDKCgLALhydrgExnaSKZdGa8S3YtRuVA=w300"></a></li>
  </div>
</footer>
