<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <a class="right-off-canvas-toggle" href="#" >
      <div class="menu">
        <div class="off-canvas-bar"></div>
        <div class="off-canvas-middle-bar"></div>
        <div class="off-canvas-bottom-bar"></div>
      </div>
    </a>
    <!-- Off Canvas Menu -->
    <aside class="right-off-canvas-menu">
        <!-- whatever you want goes here -->
        <ul class="side-nav main">
          <li><a href="#">bowling</a></li>
          <li><a href="#">basketball</a></li>
        </ul>
    </aside>
